# note: any commented out field types at the end of lines are required for proper conversion to fabric's classtweaker

public net.minecraft.client.renderer.entity.layers.EquipmentLayerRenderer getColorForLayer(Lnet/minecraft/client/resources/model/EquipmentClientInfo$Layer;I)I
public net.minecraft.client.gui.screens.inventory.InventoryScreen extractRenderState(Lnet/minecraft/world/entity/LivingEntity;)Lnet/minecraft/client/renderer/entity/state/EntityRenderState;
public-f net.minecraft.client.model.Model renderToBuffer(Lcom/mojang/blaze3d/vertex/PoseStack;Lcom/mojang/blaze3d/vertex/VertexConsumer;III)V
public net.minecraft.server.network.ServerCommonPacketListenerImpl connection #Lnet/minecraft/network/Connection;
public net.minecraft.client.player.LocalPlayer autoJumpTime #I

public net.minecraft.client.gui.components.PlayerTabOverlay visible #Z
public net.minecraft.client.gui.components.PlayerTabOverlay footer #Lnet/minecraft/network/chat/Component;
public net.minecraft.client.gui.components.PlayerTabOverlay header #Lnet/minecraft/network/chat/Component;
public net.minecraft.client.gui.components.PlayerTabOverlay getPlayerInfos()Ljava/util/List;

protected net.minecraft.client.entity.ClientMannequin skinLookup #Ljava/util/concurrent/CompletableFuture;
protected net.minecraft.client.entity.ClientMannequin setSkin(Lnet/minecraft/world/entity/player/PlayerSkin;)V
protected net.minecraft.client.entity.ClientMannequin updateSkin()V

public net.minecraft.client.renderer.entity.LivingEntityRenderer getRenderType(Lnet/minecraft/client/renderer/entity/state/LivingEntityRenderState;ZZZ)Lnet/minecraft/client/renderer/rendertype/RenderType;
public net.minecraft.client.renderer.entity.ArmorStandRenderer getRenderType(Lnet/minecraft/client/renderer/entity/state/ArmorStandRenderState;ZZZ)Lnet/minecraft/client/renderer/rendertype/RenderType;

public net.minecraft.client.renderer.entity.LivingEntityRenderer isBodyVisible(Lnet/minecraft/client/renderer/entity/state/LivingEntityRenderState;)Z
public net.minecraft.client.renderer.entity.IllusionerRenderer isBodyVisible(Lnet/minecraft/client/renderer/entity/state/IllusionerRenderState;)Z

#? if >=26.3-snapshot-10 {
#public net.minecraft.world.entity.LivingEntity swingState #Lnet/minecraft/world/entity/LivingEntity$SwingState;
#public net.minecraft.world.entity.LivingEntity$SwingState currentSwing #Lnet/minecraft/world/entity/LivingEntity$SwingDescription;
#public net.minecraft.world.entity.LivingEntity$SwingState ticks #I
#?} else {
public net.minecraft.world.entity.LivingEntity getCurrentSwingDuration()I
public net.minecraft.client.renderer.entity.layers.EquipmentLayerRenderer$TrimSpriteKey
public net.minecraft.client.renderer.entity.layers.EquipmentLayerRenderer$TrimSpriteKey <init>(Lnet/minecraft/world/item/equipment/trim/ArmorTrim;Lnet/minecraft/client/resources/model/EquipmentClientInfo$LayerType;Lnet/minecraft/resources/ResourceKey;)V
#?}

#? if <26.2
#public net.minecraft.client.Minecraft isMultiplayerServer()Z
